html {
    font-family: Helvetica, sans-serif;
  }

body {
    padding: 70px 0;
    border: 3px solid #ffdd66
}

p1 {
    font-family: Helvetica;
}

p2 {
    font-family: "Courier New", Monospace;
}